[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = testing snowflake CICD with github Actions
[access "refs/*"]
	owner = group user/sirmasterapu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sirmasterapu
	label-Verified = -1..+1 group user/sirmasterapu
	push = group user/sirmasterapu
	read = group user/sirmasterapu
	rebase = group user/sirmasterapu
	removeReviewer = group user/sirmasterapu
	submit = group user/sirmasterapu
[access "refs/heads/*"]
	create = group user/sirmasterapu
	push = +force group user/sirmasterapu
	pushMerge = group user/sirmasterapu
	read = group user/sirmasterapu
[access "refs/tags/*"]
	push = group user/sirmasterapu
	push = +force group user/sirmasterapu
